
body{
 background-color: rgb(253, 238, 234);
  /* background-color:  #d6e0f5; */

  margin: 0;
  padding: 0;
}
.main-heading{
  background-color: white;
  padding: 20px;
  margin-top: 0px;
  box-shadow: 0 2px 20px 0 rgb(199, 197, 197);
}
.text-center{
  text-align: center;
}
.colour-dark{
  color:tomato;
}
.app-container{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.link-generation-card{
  padding: 20px;
  background-color: white;
  box-shadow: 0 2px 20px 0 rgb(172, 172, 172);
  border-radius: 5px;
  height: 300PX;
  margin-bottom: 30px;
  width: 40%;
  margin-top: 50px;
  position: relative;
}
.url-input{display: block;
  width: 95%;
  padding: 5px 10px;
  font-size: 18px;
  margin-bottom: 20px;
  border: none;
  box-shadow: 1px 1px 2px 0.5px gray;
}

.btn{
  background-color: tomato;
  color: white;
  border-radius: 5px;
border: none;
display: block;
margin-left: auto;
margin-top: 40px;
margin-right: auto;

  cursor: pointer;
}

.short-url-input{
  width: 100%;
  bottom: 150px;
  padding: 5px 10px;
  font-size: 18px;
  display: block;
  margin-right: auto;

}
.short-url-container{
  display: flex;
  justify-content: flex-start;
 margin-bottom: 20px;
 width: 99%;
 border: none;
 box-shadow: 1px 1px 2px 0.5px gray;

}
.coyp-icon:hover{
  background-color:rgb(246, 217, 212);
}
.coyp-icon{
  width: 5%;
  cursor: pointer;
  height: 27px;
  box-shadow: 1px 1px 2px 0.5px gray;
  padding: 4px;


}

.all-links-container{
  height: 73vh;
  /* background-color: bisque; */
  overflow-y: scroll;
  /* background-color: rgb(234, 179, 169); */
  
  padding: 10px;

}
.all-links-container::-webkit-scrollbar {
  display: none;
}
.link-card{
  background-color: rgb(243, 214, 209);
  margin-top: 20px;
  padding: 7px;
  width: 90%;
  box-shadow: 1px 1px 2px 0.5px gray;
}
.link-text{
  font-weight: bold;
}